@font-face {
    font-family: 'LT Journal Condensed';
    src: url('LTJournal-Condensed.eot');
    src: local('LT Journal Condensed'), local('LTJournal-Condensed'),
        url('LTJournal-Condensed.eot?#iefix') format('embedded-opentype'),
        url('LTJournal-Condensed.woff2') format('woff2'),
        url('LTJournal-Condensed.woff') format('woff'),
        url('LTJournal-Condensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LT Journal Extended';
    src: url('LTJournal-Extended.eot');
    src: local('LT Journal Extended'), local('LTJournal-Extended'),
        url('LTJournal-Extended.eot?#iefix') format('embedded-opentype'),
        url('LTJournal-Extended.woff2') format('woff2'),
        url('LTJournal-Extended.woff') format('woff'),
        url('LTJournal-Extended.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LT Journal Crayon';
    src: url('LTJournalCrayon-Regular.eot');
    src: local('LT Journal Crayon'), local('LTJournalCrayon-Regular'),
        url('LTJournalCrayon-Regular.eot?#iefix') format('embedded-opentype'),
        url('LTJournalCrayon-Regular.woff2') format('woff2'),
        url('LTJournalCrayon-Regular.woff') format('woff'),
        url('LTJournalCrayon-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LT Journal Watery';
    src: url('LTJournalWatery-Regular.eot');
    src: local('LT Journal Watery'), local('LTJournalWatery-Regular'),
        url('LTJournalWatery-Regular.eot?#iefix') format('embedded-opentype'),
        url('LTJournalWatery-Regular.woff2') format('woff2'),
        url('LTJournalWatery-Regular.woff') format('woff'),
        url('LTJournalWatery-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LT Journal';
    src: url('LTJournal-Italic.eot');
    src: local('LT Journal Italic'), local('LTJournal-Italic'),
        url('LTJournal-Italic.eot?#iefix') format('embedded-opentype'),
        url('LTJournal-Italic.woff2') format('woff2'),
        url('LTJournal-Italic.woff') format('woff'),
        url('LTJournal-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'LT Journal';
    src: url('LTJournal-Regular.eot');
    src: local('LT Journal Regular'), local('LTJournal-Regular'),
        url('LTJournal-Regular.eot?#iefix') format('embedded-opentype'),
        url('LTJournal-Regular.woff2') format('woff2'),
        url('LTJournal-Regular.woff') format('woff'),
        url('LTJournal-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

