@import-normalize; /* bring in normalize.css styles */
@import '../node_modules/modern-normalize/modern-normalize.css';

:root {
  --main-color: #0B4943;
  --secondary-color: #ffffff;
  --secondary-burnt-color: #fffffff0;
  --main-transparent-color: #0f645b1c;
  --secondary-transparent-color: #ffffff1c;
  --accent-color: #f9c838;
  --main-font-family: 'LT Journal', sans-serif;
  --title-font-family: 'LT Journal Extended', sans-serif;
  --secondary-font-family: 'Caveat', cursive;
  --animation-global: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  margin: 0;
  font-family: var(--main-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
}

.swiper-wrapper {
  transition-timing-function: linear;
}

.map-container {
  height: 400px;
  width: 100%;
}

.nav-open {
  opacity: 1;
  transform: translateY(0%);
}

.nav-closed {
  pointer-events: none;
  opacity: 0;
  transform: translateY(-100%);
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}